
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using(Html.BeginForm("DelEmpbtn","EventsEx2"))
{
    <h3>Enter empno @Html.DropDownList("ddlempno",
            new SelectList(ViewBag.EL,"Empno","Ename"),"select")
          <input type="submit" value="submit" onclick="return func();"/>  
    </h3>
    if(ViewBag.msg!=null)
    {
        @ViewBag.msg;
    }
}
<script>
    function func()
    {
        var eno = document.getElementById("ddlempno").value;
        if (eno.length != 0)
        {
            var con = confirm("Do u want to delete");
            if (c == true)
            return true;
        }
        else
            return false;
    }
</script>

