@model DEMOMVC.Models.Emp
@{
    ViewBag.Title = "Index1";
}

<h2>Index1</h2>
@using(Html.BeginForm())
{
    <table>
        <tr>
            <td>Empno</td>
            <td>@Html.TextBoxFor(a=>a.Empno1)</td>
        </tr>
        <tr>
            <td>Ename</td>
            <td>@Html.TextBoxFor(a=>a.Ename1)</td>
        </tr>
        <tr>
            <td>Salary</td>
            <td>@Html.TextBoxFor(a=>a.Salary1)</td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
}
