@model DEMOMVC.Models.Emp
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using(Html.BeginForm("Display","VC"))
{
    <table>
        <tr>
            <td>Empno</td>
            <td>@Html.TextBoxFor(x=>x.Empno1)</td>
        </tr>
        <tr>
            <td>Ename</td>
            <td>@Html.TextBoxFor(x=>x.Ename1)</td>
        </tr>
        <tr>
            <td>Salary</td>
            <td>@Html.TextBoxFor(x=>x.Salary1)</td>
        </tr>
        <tr>
            <td><input type="submit" /></td>
        </tr>
    </table>
}
