@*HTML Helper Code*@
@{
    ViewBag.Title = "Index";
}
    <font color="red">
        <h2>
            @ViewBag.str
            @ViewData["str1"]
            @TempData["str2"]
        </h2>
    </font>