
@{
    ViewBag.Title = "SendObjViewBag";
    var E = ViewData["p"] as DEMOMVC.Models.Emp;
}
@*Empno:@ViewBag.p.Empno1
Ename:@ViewBag.p.Ename1
Salary:@ViewBag.p.Salary1*@

Empno:@E.Empno1
Ename:@E.Ename1
Salary:@E.Salary1

<h2>SendObjViewBag</h2>

