@model DEMOMVC.Models.Emp
  @{
    ViewBag.Title = "SendObject";
}

<h2>SendObject</h2>
<table>
    <tr>
        <td>Empno:</td>
        <td>@Model.Empno1</td>
    </tr>
    <tr>
        <td>Ename:</td>
        <td>@Model.Ename1</td>
    </tr>
    <tr>
        <td>Salary:</td>
        <td>@Model.Salary1</td>
    </tr>
</table>

