
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using(Html.BeginForm())
{
    <h3>Enter the Empno @Html.DropDownList("ddlempno",
                        new SelectList(ViewBag.EL,"Empno","Ename"),
                        "select", new {onblur="func();"})

    </h3>
   
    if(ViewBag.msg!=null)
    {
        @*if we want to use alert,use script tag
        <script>
            alert("@ViewBag.msg");
        </script>*@
        @ViewBag.msg;
    }
}
<script>
    function func()
    {
        
        var eno = document.getElementById("ddlempno").value;
        if (eno.length != 0)
        {
            var con = confirm("Do you want to delete emp" + eno);
            if (con == true)
            {
                window.location.href = "/EventsEx/DelEmpOn?e=" + eno;
            }
        }
    }
</script>

